ollama
langchain
langchain-core
langchain-community

# LLM Providers
langchain-ollama
langchain-google-genai
google-genai
langchain-huggingface

# splitters
langchain-text-splitters

# document loader
pypdf
pdfplumber
unstructured
beautifulsoup4
lxml
reportlab
pymupdf
matplotlib
weasyprint

# vector database
chromadb
langchain-chroma

# embedding modesl
sentence-transformers

# env variables
python-dotenv

# data handling
pandas
numpy

# UI (optional)
streamlit